/* --------------------------------------------------------
Style Sheet for MS To Do Clone UI

version: 1.0
last modified: mm/dd/yy
author: Deilon Cutamora
email: dloncutamora@gmail.com
website: 
----------------------------------------------------------*/
/* -----------------------------------------------------------
CONTENTS:
0. Default
1. General
2. Sidebar Left
3. Account names & Search button
------------------------------------------------------------*/

/**********************************
***********************************
0. Default
***********************************
**********************************/
body {
    margin: 0;
    background: #f1f1f1;
}

/**********************************
***********************************
1. General
***********************************
**********************************/
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}


/**********************************
***********************************
2. Sidebar Left
***********************************
**********************************/
.aside-left {
    /* width: 260px; */
    height: 100vh;
    background-color: #FFF;
}

.title-aside {
    font-family: 'Segoe UI Regular';
    font-size: 13px;
    color: gray;
    padding: 7px 10px;
    margin: 0;
}


/**********************************
***********************************
3. Account names & Search button
***********************************
**********************************/
.user-top {
    margin-top: 15px;
}
.account {
    position: relative;
}

.names {
    padding: 5px 10px;
}
.names:hover {
    background: #FAFBFC;
}
.names div {
    display: inline-block;
}
.names .avatar {
    font-size: 11px;
    font-family: 'Segoe UI Regular';
    padding: 6px;
    border-radius: 50%;
    background: #603CBA;
    color: #FFF;
    margin-right: 5px;
}
.names .account-details {
    vertical-align: middle;
}
.names .account-details p {
    margin: 0;
}
.names .account-details .full-name {
    font-size: 14px;
    font-family: 'Segoe UI Regular';
}
.names .account-details .email {
    font-size: 11px;
    font-family: 'Segoe UI Regular';
    color: gray;
}
.names .account-details .email i {
    font-size: 9px;
    font-weight: bold;
}
.search-button {
    position: absolute;
    top: 0; 
    right: 0;
    padding: 12px 14px;
    background: #FFF;
}
.search-button:hover {
    background: #FAFBFC;
}
.search-button i {
    color: gray;
    font-size: 16px;
    vertical-align: middle;
}

/**********************************
***********************************
4. General navigations i.e My Day, Important ..
***********************************
**********************************/
.gen-list {
    padding: 13px 17px;
}
.gen-list:hover {
    background: #F4F5F5;
}
.gen-list i,
.gen-list p {
    display: inline;
}
.gen-list i {
    vertical-align: -2px;
    margin-right: 9px;
    font-size: 16px;
}
.gen-list p {
    font-family: 'Segoe UI Regular';
    font-size: 14px;
}
.gen-list .ms-Icon--FavoriteStar {
    color: #d13438;
}
.gen-list .ms-Icon--Contact {
    color: #498205;
}
.gen-list .gen-list-count {
    float: right;
}

.separator {
    padding: 10px 15px;
}
.separator div {
    height: 1px;
    background: #f1f1f1;
}

.task-nav {
    padding: 10px 17px 10px 5px;
}
.task-nav:hover {
    background: #F4F5F5;
}
.task-nav-border {
    padding: 0px 0 3px 10px;
    border-left: 2px solid transparent;
}
.active-border {
    border-left: 2px solid #797673;
}
.active-border p,
.active-border .task-nav-count {
    color: #8a8886 !important;
    font-family: 'Segoe UI Bold' !important;
}
.task-nav-border i,
.task-nav-border p {
    display: inline;
    vertical-align: middle;
}
.task-nav-border i {
    color: #797673;
    font-size: 16px;
}
.task-nav-border p {
    font-family: 'Segoe UI Regular';
    font-size: 14px;
    margin-left: 10px;
}
.task-nav-border p i {
    margin-left: 5px;
}
.task-nav-count {
    float: right;
    font-family: 'Segoe UI Regular';
    font-size: 14px;
}
.new-list {
    color: #8a8886 !important;
    font-family: 'Segoe UI Regular' !important;
}

/**********************************
***********************************
5. Main window
***********************************
**********************************/
main {
    width: 100%;
    height: 100vh;
    /* padding: 0; */
    /* overflow-y: hidden !important;
    overflow-x: auto; */
    flex-grow: 1;
    flex-basis: 0%;
    background-image: url('../img/mountain-field.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}
.main-top {
    background: rgba(0, 128, 0, 0.3);
    padding: 25px 25px 5px 25px;
}
.main-top h1 {
    font-family: 'Segoe UI Regular';
    font-size: 27px;
    color: #FFF;
}

.main-list {
    padding: 5px 25px 0 25px;
}
.task {
    padding: 5px 5px;
    background: #FFF;
    border-radius: 5px;
    margin: 3px 0;
}
.task-check {
    padding: 10px 10px;
    display: inline-block;
    vertical-align: middle;
}
.task-check i {
    color: gray;
    font-size: 23px;
    vertical-align: middle;
}

.task-description {
    margin: 0;
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}
.task-description p {
    margin: 0;
    font-size: 15px;
    vertical-align: middle;
}
.task-description ul {
    list-style: disc;
    font-size: 12px;
    color: gray;
    margin: 0 !important;
    padding: 0;
    padding-top: 3px;
    overflow: hidden;
}
.task-description ul li {
    display: inline;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}
.task-description ul li .ms-Icon--RadioBullet {
    font-size: 8px;
}
.task-pre-icon {
    vertical-align: baseline;
    font-size: 10px;
    font-weight: bold;
}